// Dashboard Template

extends layout

block content

    section
        h1#page_title= title

        #dashboard_container
            #providers
                ul
                    <li><a href="#aws">AWS</a></li>
                    <li><a href="#azure">Azure</a></li>
                    <li><a href="#cloud_platform">Cloud Platform</a></li>
                
                #aws
                    <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>

                #azure
                    .widget_outer
                        h1 Azure Service Manager

                        select(id="asm_accounts")
                            script.
                                $(document).ready(function(){
                                    $.ajax({
                                        url: '/azure/asm/account/list',
                                        type: "GET",
                                        async: false,
                                        success: function(response)
                                        {
                                            $.each($.parseJSON(response), function(idx, obj) 
                                            {
                                                if(obj.isDefault) 
                                                {
                                                    $('#asm_accounts').append('<option selected=true value="' + obj.tenantId + '">' + obj.name + '</option>')
                                                }
                                                else
                                                {
                                                    $('#asm_accounts').append('<option value="' + obj.tenantId + '">' + obj.name + '</option>')
                                                }
                                            })
                                        }
                                    })
                                    $('#asm_accounts').change(function() {
                                        $.ajax({
                                            url: '/azure/asm/account/set/' + $(this).val(),
                                            type: "PUT",
                                            async: false,
                                            success: function(response)
                                            {
                                                alert($.parseJSON(response)) 
                                            }
                                        })
                                    })
                                })
                        
                        .widget_inner
                            
                            #services
                            
                            script.
                                $(document).ready(function(){
                                    $.ajax({
                                        url: '/azure/asm/service/list',
                                        type: "GET",
                                        async: false,
                                        success: function(response){
                                            
                                            $.each($.parseJSON(response), function(idx, obj) 
                                            {
                                                $('#services').append('<h3>' + obj.serviceName + '</h3>');
                                                
                                                $('#services').append('<div>');
                                                
                                                $.ajax({
                                                    url: '/azure/asm/service/show/' + obj.serviceName, 
                                                    type: 'GET',
                                                    async: false,
                                                    success: function(response) {

                                                        $.each($.parseJSON(response.deployments.roleInstances), function(idx, obj)
                                                        {
                                                            
                                                            $('#' + service + '').append("<p>" + obj.roleName + "</p>")
                                                        })
                                                    }
                                                })

                                                $('#services').append('</div>');
                                            })
                                        }
                                    })
                                    $("#services").accordion()
                                })
                                
                    .widget_outer
                        
                        h1 Azure Resource Manager

                        select(id="arm_accounts")
                            script.
                                $(document).ready(function(){
                                    $.ajax({
                                        url: '/azure/arm/account/list',
                                        type: "GET",
                                        async: false,
                                        success: function(response)
                                        {
                                            $.each($.parseJSON(response), function(idx, obj) 
                                            {
                                            if(obj.isDefault === true) 
                                                {
                                                    $('#arm_accounts').append('<option selected=true value=' + obj.tenantId + '>' + obj.name + '</option>')
                                                }
                                                else
                                                {
                                                    $('#arm_accounts').append('<option value=' + obj.tenantId + '>' + obj.name + '</option>')
                                                }
                                            })
                                        }
                                    })
                                })

                                $('#arm_accounts').change(function() {
                                    $.ajax({
                                        url: '/azure/arm/account/set/' + $(this).val(),
                                        type: "PUT",
                                        async: false,
                                        success: function(response)
                                        {
                                            alert($.parseJSON(response)) 
                                        }
                                    })
                                })

                        .widget_inner
                            #groups

                            script.
                                $(document).ready(function(){
                                    $.ajax({
                                        url: '/azure/arm/group/list',
                                        type: "GET",
                                        async: false,
                                        success: function(response){
                                            
                                            $.each($.parseJSON(response), function(idx, obj) 
                                            {
                                                $('#groups').append('<h3>' + obj.name + '</h3>');
                                                $('#groups').append('<div id="' + obj.name + '" style="max-height:600px;"></div>') 
                                                
                                                $.ajax({
                                                    url: '/azure/arm/resource/list/' + obj.name, 
                                                    type: 'GET',
                                                    async: false,
                                                    success: function(response) {

                                                        $.each($.parseJSON(response), function(idx, obj)
                                                        {
                                                            $('#' + obj.name + '').append("<p>" + obj.id + "</p>")
                                                        })
                                                    }
                                                })
                                            })
                                        }
                                    })
                                    $("#groups").accordion()
                                })

                #cloud_platform
                    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>

            script.
                $(function() {
                    $( "#providers" ).tabs();
                });